.button{
    -fx-background-color: transparent;
    -fx-opacity: inherit;
    -fx-border: none;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.exit {
    -fx-background-image: url("/gui/img/button_exit.png");
    -fx-background-size: 90% auto;
}
.exit:hover{
    -fx-background-size: 100% auto;
}
.exit:pressed{
    -fx-background-size: 85% auto;
}
.info {
    -fx-background-image: url("/gui/img/button_info.png");
    -fx-background-size: 90% auto;
}
.info:hover{
    -fx-background-size: 100% auto;
}
.info:pressed{
    -fx-background-size: 85% auto;
}
.back{
    -fx-background-image: url("/gui/img/backButton.png");
    -fx-background-size: 90% auto;
}
.back:hover{
    -fx-background-size: 100% auto;
}
.back:pressed{
    -fx-background-size: 85% auto;
}

.soloMode{
    -fx-background-image: url("/gui/img/lorenzo2.png");
    -fx-background-size: 90% auto;
}
.soloMode:hover{
    -fx-background-size: 100% auto;
}
.soloMode:pressed{
    -fx-background-size: 85% auto;
}
.multiMode{
    -fx-background-image: url("/gui/img/multiMode1.png");
    -fx-background-size: 90% auto;
}
.multiMode:hover{
    -fx-background-size: 100% auto;
}
.multiMode:pressed{
    -fx-background-size: 85% auto;
}

.playerButton{
    -fx-background-image: url("/gui/img/playerButton.png");
    -fx-background-size: 90% auto;
}
.playerButton:hover{
    -fx-background-size: 100% auto;
}
.playerButton:pressed{
    -fx-background-size: 85% auto;
}

.cancel{
    -fx-background-image: url("/gui/img/userButton.png");
    -fx-background-size: 90% auto;
}
.cancel:hover{
    -fx-background-size: 100% auto;
}
.cancel:pressed{
    -fx-background-size: 85% auto;
}
.submit{
    -fx-background-image: url("/gui/img/userButton.png");
    -fx-background-size: 90% auto;
}
.submit:hover{
    -fx-background-size: 100% auto;
}
.submit:pressed{
    -fx-background-size: 85% auto;
}
.exitNo{
    -fx-background-image: url("/gui/img/userButton.png");
    -fx-background-size: 90% auto;
}
.exitNo:hover{
    -fx-background-size: 100% auto;
}
.exitNo:pressed{
    -fx-background-size: 85% auto;
}
.exitYes{
    -fx-background-image: url("/gui/img/userButton.png");
    -fx-background-size: 90% auto;
}
.exitYes:hover{
    -fx-background-size: 100% auto;
}
.exitYes:pressed{
    -fx-background-size: 85% auto;
}
.errorText{
    -fx-background-color: transparent;
    -fx-text-fill: red;
}
.chooseLeaderCard{
    -fx-background-size: 95% auto;
    -fx-border-radius: 1;
}
.chooseLeaderCard:hover{
    -fx-background-size: 98% auto;
    -fx-border-color: rgb(231,156,48);
    -fx-border-width: 5;
}

.clearButton{
    -fx-background-image: url("/gui/img/clearButton.png");
    -fx-background-size: 90% auto;
}
.clearButton:hover{
    -fx-background-size: 100% auto;
}
.clearButton:pressed{
    -fx-background-size: 85% auto;
}
.okButton{
    -fx-background-image: url("/gui/img/okButton.png");
    -fx-background-size: 90% auto;
}
.okButton:hover{
    -fx-background-size: 100% auto;
}
.okButton:pressed{
    -fx-background-size: 85% auto;
}
.minusButton{
    -fx-background-image: url("/gui/img/backButton.png");
    -fx-background-size: 90% auto;
}
.minusButton:hover{
    -fx-background-size: 100% auto;
}
.minusButton:pressed{
    -fx-background-size: 85% auto;
}
.plusButton{
    -fx-background-image: url("/gui/img/plusButton.png");
    -fx-background-size: 90% auto;
}
.plusButton:hover{
    -fx-background-size: 100% auto;
}
.plusButton:pressed{
    -fx-background-size: 85% auto;
}
.chooseAction{
    -fx-background-image: url("/gui/img/okButton.png");
    -fx-background-size: 90% auto;
}
.chooseAction:hover{
    -fx-background-size: 100% auto;
}
.chooseAction:pressed{
    -fx-background-size: 85% auto;
}
.actions{
    -fx-background-image: url("/gui/img/actionsButton.png");
    -fx-background-size: 90% auto;
}
.actions:hover{
    -fx-background-size: 100% auto;
}
.actions:pressed{
    -fx-background-size: 85% auto;
}
.leaderAction{
    -fx-background-image: url("/gui/img/okButton.png");
    -fx-background-size: 90% auto;
}
.leaderAction:hover{
    -fx-background-size: 100% auto;
}
.leaderAction:pressed{
    -fx-background-size: 77% auto;
}
.indicatorColumns{
    -fx-background-image: url("/gui/img/indicator.png");
    -fx-background-size: 90% auto;
}
.indicatorColumns:hover{
    -fx-background-size: 100% auto;
}
.indicatorColumns:pressed{
    -fx-background-size: 85% auto;
}
.indicatorRows{
     -fx-background-image: url("/gui/img/indicatorMarket.png");
     -fx-background-size: 90% auto;
 }
.indicatorRows:hover{
    -fx-background-size: 100% auto;
}
.indicatorRows:pressed{
    -fx-background-size: 85% auto;
}
.chooseYesNo{
    -fx-background-image: url("/gui/img/okButton.png");
    -fx-background-size: 90% auto;
}
.chooseYesNo:hover{
    -fx-background-size: 100% auto;
}
.chooseYesNo:pressed{
    -fx-background-size: 85% auto;
}
.selPosition{
    -fx-background-image: url("/gui/img/okButton.png");
    -fx-background-size: 90% auto;
}
.selPosition:hover{
    -fx-background-size: 100% auto;
}
.selPosition:pressed{
    -fx-background-size: 85% auto;
}
.devCard1{
    -fx-background-size: 100% auto;
}
.devCard1:hover{
    -fx-background-size: 105% auto;
}
.devCard1:pressed{
    -fx-background-size: 95% auto;
}
.buttonDepot{
    -fx-background-image: url("/gui/img/okButton.png");
    -fx-background-size: 100% auto;
}
.buttonDepot:hover{
    -fx-background-size: 105% auto;
}
.buttonDepot:pressed{
    -fx-background-size: 75% auto;
}
.resDepot{
    -fx-background-size: 100% auto;
}
.resDepot:hover{
    -fx-background-size: 100% auto;
}
.resDepot:pressed{
    -fx-background-size: 90% auto;
}
.buyDevCard{
    -fx-background-size: 107% auto;
}
.buyDevCard:hover{
}
.buyDevCard:pressed{
    -fx-background-size: 105% auto;
}
.slotButton{
    -fx-background-size: 95% auto;
    -fx-border-radius: 5;
}
.slotButton:hover{
    -fx-background-size: 103% auto;
    -fx-border-color: #f6f2d7;
    -fx-border-width: 5;
}

.slotButton:pressed{
    -fx-background-size: 93% auto;
}
.basicProduction{
    -fx-background-image: url("/gui/img/basicProduction.png");
    -fx-background-size: 97% auto;
}
.basicProduction:hover{
    -fx-background-size: 103% auto;
}
.basicProduction:pressed{
    -fx-background-size: 90% auto;
}

